USE [master]
GO
/****** Object:  Database [ROK - Bingo]    Script Date: 07.02.2024. 15:05:53 ******/
CREATE DATABASE [ROK - Bingo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ROK - Bingo', FILENAME = N'C:\Users\Marko\ROK - Bingo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ROK - Bingo_log', FILENAME = N'C:\Users\Marko\ROK - Bingo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROK - Bingo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROK - Bingo]
GO
USE [ROK - Bingo]
GO
/****** Object:  Table [dbo].[Igra]    Script Date: 07.02.2024. 15:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Igra](
	[IgraId] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[ZadataKombinacija] [varchar](10) NOT NULL,
	[BrojPokusaja] [int] NOT NULL,
	[Rezultat] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Igra] PRIMARY KEY CLUSTERED 
(
	[IgraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pogadjanje]    Script Date: 07.02.2024. 15:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pogadjanje](
	[RB] [int] NOT NULL,
	[Kombinacija] [varchar](10) NOT NULL,
	[PogodjenihNaMestu] [int] NOT NULL,
	[PogodjenihNISUNaMestu] [int] NOT NULL,
	[IgraId] [int] NOT NULL,
 CONSTRAINT [PK_Pogadjanje] PRIMARY KEY CLUSTERED 
(
	[RB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pogadjanje]  WITH CHECK ADD  CONSTRAINT [FK_Pogadjanje_Igra] FOREIGN KEY([IgraId])
REFERENCES [dbo].[Igra] ([IgraId])
GO
ALTER TABLE [dbo].[Pogadjanje] CHECK CONSTRAINT [FK_Pogadjanje_Igra]
GO
USE [master]
GO
